# UI build artifacts
ui/node_modules/
ui/dist/

# Visual Studio / VS Code
.vs/
.vscode/

# .NET build artifacts
**/bin/
**/obj/
**/Debug/
**/Release/
**/wwwroot/uploads/certificate/
**/wwwroot/uploads/marksheets/

# .NET specific
*.dll
*.exe
*.pdb
*.cache
*.tmp
